html {
  	height: 100%;
 	margin: 0;
 	padding: 0;
  	width: 100%;
 }
body {

	background-size: ;
	height:100%;
	width:100%;
}
/*font-family: 'Condiment', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Molle', cursive;
font-family: 'Concert One', cursive;
font-family: 'Allura', cursive;
font-family: 'Engagement', cursive;*/

#who, #where, #what, #contact {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height:100%;
	width:100%;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

#what {
		background-image: url('../img/city.jpg');

}
#where {
		background-image: url('../img/city.jpg');
}
#who {
		background-image: url('../img/man_1.jpg');
}
#contact {
		background-image: url('../img/Mobile.jpg');
}



/* HEADER ------------------------------------- */
 
 #header {
 	background: -webkit-gradient(linear, 100% 0, 0 0, from(rgba(78,181,229,0.9)), to(rgba(32,81,151,0.9)));
 	background: -webkit-linear-gradient(top, rgba(78,181,229,0.9), rgba(32,81,151,0.9));
 	background: -moz-linear-gradient(top, rgba(78,181,229,0.9), rgba(32,81,151,0.9));
 	background: -o-linear-gradient(top, rgba(78,181,229,0.9), rgba(32,81,151,0.9));
 	background: linear-gradient(top, rgba(78,181,229,0.9), rgba(32,81,151,0.9)); 
 	height:100%; 
 	width:200px;
 	box-shadow: 10px 0px 20px rgba(63,62,78, 0.3);
 	z-index: 10;
 }	

#header ul a {
	display: block;
	height: 60px;
	color: #ededed;
	font-family: 'Engagement', cursive; 
	text-decoration: none;
	font-size: 50px;
	text-align: right;
}

#header ul {
	position: fixed;
	top: 40%;
	padding: 20px 20px 20px 50px;
	vertical-align: center;

}

#header ul li a:hover {
	color: #403f4e;
	text-shadow: 2px 2px 2px rgba(63,62,78, 0.5);

}

#who #header ul li a.who,
#what #header ul li a.what,
#where #header ul li a.where,
#contact #header ul li a.contact {
	color: #403f4e;
	text-shadow: 2px 2px 2px rgba(63,62,78, 0.5);
}

/* LOGO ----------------------------------------------------------- */


#logo {
/*	background-color: #fff;*/
	top:0;
	right:0;
	position: fixed;
	height: 400px;
	width: 600px;
	background-image: url('../img/L_nubes_Q-05.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	z-index: 20;
}

/* SLOGAN ---------------------------------------------------------  */

#slogan {
	position: fixed;
	display: block;
	color:#ededed;
	font-family: 'Engagement', cursive; 
	background-color: rgba(63,62,78, 0.8);
	height: 180px;
	margin-left:200px;
	padding-left: 50px;
	top:400px;
	font-size: 10em;
	line-height: 1.1em;
	z-index: 0;
	padding-right:50px;
	box-shadow: 0px 2px 5px rgba(63,62,78, 0.9);
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	right: 0;

}
#small {
	position: fixed;
	display: block;
	color:#ededed;
	font-family: 'Engagement', cursive; 
	background-color: rgba(63,62,78, 0.5);
	height: 36px;
	top:650px;
	right: 0;
	font-size: 0.25em;
	line-height: 1.0em;
	z-index: 1;
	padding-right: 60px;
	padding-left: 50px;
	box-shadow: 0px 2px 5px rgba(63,62,78, 0.9);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}